@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
  height: 78px;
  background-color: #f2b84b;
  padding-left: 140px;
  padding-right: 140px;
}

a {
  text-decoration: none;
  text-align: center;
}

#header-logo {
  height: 55px;
  width: 168px;
  align-self: center;
  /* margin: 0 auto; */
  /* margin-top: 11.25px; */
}

#header-title {
  height: 11.25px;
  display: flex;
}

.search-input {
  width: 300px;
  height: 30px;
  border: 1px solid #0d4373;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
  font-size: 12px;
}

::placeholder {
  color: #0d4373;
}

.header-links {
  font-size: 20px;
  font-weight: 800;
  color: #0d4373;
  letter-spacing: 1.5px;
}

.header-links-container{
  margin-right: 15px;
}

#header-products {
  padding-right: 16.16px;
  margin: auto 0;
  padding-left: 20px;
}

#header-add-products {
  padding-left: 16.16px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 34px;
  width: 37px;
  border-top: 1px solid #0d4373;
  border-right: 1px solid #0d4373;
  border-bottom: 1px solid #0d4373;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.fa {
  color: #0d4373;
}

header-right-side{
  padding-right: 15px;
}

@media only screen and (max-width: 600px) { 
  .header {
    flex-direction: column;
    align-content: space-between;
    height: 140px;
  }
  #left-side {
    margin-top: 20px;
    height: 50px;
  }
  .header-right-side {
    margin-top: 20px;
    height: 50px;
  }
}