@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
  

body,
html {
  font-family: "Open Sans", sans-serif; 
}

.App {
  position: relative;
  min-height: 100vh;
}

.layout {
  padding-bottom: 2rem;
}
