.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

/* .product-detail{
  display: grid;
  grid-template-columns: auto auto 60%;
  grid-gap: 50px;
  grid-row-start: 1;
  grid-row-end: 1;
} */

.detail-carousel{
  width: 45%;
}

.product-info-aside {
  margin-left: 40px;
  width: 50%;
  display:flex;
  flex-direction: column;
}

#detail-title {
  font-size: 2em;
  color: #01192E;
  margin-bottom: 2%;
}

.rating {
  color: #F2B84B;
  font-size: 1.3em;
  margin-top: 2%;
  margin-bottom: 2%;
}

#product-description{
  color: #01192E;
  font-size: .9em;
  margin-top: 2%;
}

#price-qty-container{
  display:flex;
  justify-content: space-evenly;
  
}

.edit-button {
  width: 250px;
  height: 48px;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 15px;
  background-color: white;
  border: none;
  margin: 0 15px 15px 0;
  box-shadow: -1px 5px 8px #4e8aaf;
}
.edit-link{
  color: black;
  text-transform: uppercase;
}

.delete-button {
  width: 170px;
  height: 29px;
  border-radius: 20px;
  border: 3px solid #148dd9;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin: 0 15px 15px 0;
}



/* .imgCont {
display: flex;
flex-direction: row;
flex-wrap: wrap;

} */

/* #imgBig {
  width:100%;
}

#imgSmall {
  width: 25%;
} */

/* .imgBflex {
  flex: 3;
  order: 1;
}
.imgSflex1 {
  flex: 1;
  order: 4;
  /* flex-basis: 10%; */
/* } */ 
/* .imgSflex2 {
  flex: 1;
  order: 2;
}
.imgSflex3 {
  flex: 1;
  order: 3;
} */

.prodInfo {
  width: 60%;
}

.reviews-wrapper {
  display: flex;
  align-items: flex-end;
  width: 50%;
  flex-direction: column;
}

