.product-detail {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.product-info-aside {
  width: 60%;
  margin-left: 40px;
  
  
}

.edit-button {
  width: 250px;
  height: 48px;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 15px;
  background-color: white;
  border: none;
  margin: 0 15px 15px 0;
  box-shadow: -1px 5px 8px #4e8aaf;
}
.edit-link{
  color: black;
  text-transform: uppercase;
}

.delete-button {
  width: 170px;
  height: 29px;
  border-radius: 20px;
  border: 3px solid #148dd9;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin: 0 15px 15px 0;
}
.rating {
  color: #F2B84B;
}

.product-detail{
  display: grid;
  grid-template-columns: auto auto 60%;
  grid-gap: 50px;
  grid-row-start: 1;
  grid-row-end: 1;
}
.imgCont {
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

#imgBig {
  width:100%;
}

#imgSmall {
  width: 25%;
}

.imgBflex {
  flex: 3;
  order: 1;
}
.imgSflex1 {
  flex: 1;
  order: 4;
  /* flex-basis: 10%; */
}
.imgSflex2 {
  flex: 1;
  order: 2;
}
.imgSflex3 {
  flex: 1;
  order: 3;
}

.prodInfo {
  width: 60%;
}