.review-create-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.left-side{
  flex-direction: column;
  width: 50%;
  margin: 2px;
  align-items: flex-start;
  
}

.right-side{
  width: 50%;
}

.review-inputs{
  width: 253px;
  height: 36px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid  #707070a2;
}

.review-form-submit{
  border-radius: 20px;
  border: 4px solid #148dd9;
  background-color: white;
  padding: 4px 2px 4px 2px;
  margin: 3px;
}

