.review-create-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.review-left-side{
  flex-direction: column;
  width: 50%;
  margin: 2px;
  align-items: flex-start;
  
}

.right-side{
  width: 50%;
}

.review-inputs{
  width: 90%;
  height: 36px;
  font-size: 18px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #0D4373;
}

.review-form-submit{
  border-radius: 20px;
  border: 4px solid #148dd9;
  background-color: white;
  padding: 4px 2px 4px 2px;
  margin: 5px;
  height: 29px;
  width: 142px;
  font-weight: 900;
}

.review-form-description{
  border-radius: 5px;
  border: 1px solid #0D4373;
  resize: none;
  font-family: "Open Sans", sans-serif;
  width: 90%;
  font-size: 18px;
}

