.edit-section {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
}
.edit-form {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  width: 80%;
}

.edit-product-image {
  height: 100px;
  width: 100px;
  border: 3px solid #0d4373;
  border-radius: 20px;
  margin: 5px;
}
.edit-input-image-link {
  width: 300px;
  background-color: white;
  border: 1px solid#0d4373;
  color: #0d4373;
}
.image-and-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.image-container-edit{
  width: 400px;
  padding-top: 10px;
  padding-bottom: 15px;
  border: solid #0d4373;
  border-radius: 5%;
}
.input-name {
  color: #0d4373;
  height: 46px;
  width: 90%;
  font-size: 34px;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  background-color: rgb(237, 237, 237);
  padding-left: 5px;
  border: 1px solid #0D4373;
  border-radius: 5px;
}
.input-description {
  height: 80px;
  width: 89%;
  background-color: white;
  margin-bottom: 10px;
  color: #0d4373;
  padding:8px;
  font-size: 15px;
  border: 1px solid #0D4373;
  border-radius: 5px;
  resize: none;
  font-family: "Open Sans", sans-serif;
}
.price-qty-div {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15px;
  color: #0d4373;
  
}
.price-qty-div input {
  font-size: 20px;
  width: 40%;
  margin-left: 8px;
  border: 1px solid #0d4373;
  color: #0d4373;
  padding: 2px ;
  border-radius: 5px;
}
.save-button {
  width: 120px;
  height: 29px;
  border-radius: 20px;
  border: 3px solid #148dd9;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin: 0px 25px 25px 300px;
}

#edit-title{
  text-transform: uppercase;
  font-size: 3em;
  color: #01192e;
  width: 80%;
  margin-left: 155px;
  margin-top: 1px;
}

@media only screen and (max-width: 600px) { 
  #edit-title {
    font-size: 2rem;
    margin: 0 auto;
  }
  .edit-section {
    flex-direction: column;
    width: 90vw;
    margin: 0 auto 50px;

  }
  .image-container-edit {
    width: 100%;
    margin-bottom: 20px;
  }
  .image-and-input {
    width: 95%;
  }
  .edit-input-image-link{
    margin: 0 auto;
    width: 250px;
    height: 50px;
  }
  .save-button {
    margin: 0 auto;
  }
  .edit-form {
    width: 100%;
  }
  .input-name {
    font-size: 1.5rem;
  }
  .save-button {
    font-size: 1.5rem;
    width: 45%;
    height: 20%;
  }
}