.product-reviews{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.product-review{
  width: 80%;
  border: 1px solid #0D4373;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px 7px 20px 10px;
}

.reviews-top{
  display: flex;
  justify-content: space-between;
}

#reviews-rating{
  /* display: flex; */
  /* align-self: flex-end; */
  color: #F2B84B;
  font-size: 1.2em;
  /* margin: 0 auto; */
  
}

@media only screen and (max-width: 600px) { 
  .reviews-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .review-create-form {
    display: flex;
    flex-direction: column;
  }
 
  .right-side, 
  .review-form-description, 
  .review-inputs {
    width: 100%;
    margin: 3px auto;
  }
  .review-left-side {
    width: 100%;
    margin: 3px auto;
    order: 1;
  }
  .product-review {
    width: 95%;
  }
}
