.detail-carousel {
  display: flex;
  align-items: center;
  /* align-content: center; */
  /* flex-direction: row; */
}
.detail-carousel img {
  border: 3px solid #0d4373;
  border-radius: 20px;
}

.show-image {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-thumbnail {
  height: 85px;
  width: 85px;
  margin:7px;
}

.show-image-container{
  height: 338px;
  width: 338px;
  margin: 0 auto;
}

