.products {
  display: flex;
  flex-flow: wrap;
  max-width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 25px;
}
h1 {
  margin-top: 40px;
  text-transform: uppercase;
  color: black;
}
.all-products-banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
}