.products {
  display: flex;
  flex-flow: wrap;
  max-width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}
h1 {
  margin-left: 13.5%;
  margin-top: 40px;
  text-transform: uppercase;
  color: black;
}